<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node-Sqlite</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/71a90a08e6.js" crossorigin="anonymous"></script>

</head>
    <!-- nav menu (exemplo para adaptacao ao sistema)-->
    
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg ps-5 ">  
        <a class="navbar-brand" href="/">App Principal</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">Incluir</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/edita">Editar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Insere">Sobre</a>
          </li>
        </ul>
      </nav>
